*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
.project
.metadata
local.properties
project.properties
.classpath
.settings/
.buildpath
.gradle/
.idea/
.build
.git/
app/build/
build.gradle
gradle.properties
gradlew
gradlew.bat
import-summary.txt
settings.gradle
gen/
out/
proguard-project.txt